---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Feed">
  <h1 class="visually-hidden">Genoa events feed</h1>
  <events-feed></events-feed>
</Layout>

<script>
  import '../components/events-feed.ts';
</script>
