---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Calendar">
  <h1 class="visually-hidden">Genoa events calendar</h1>
  <events-calendar></events-calendar>
</Layout>

<script>
  import '../components/events-calendar.ts';
</script>
